body{
    font-family: Arial, sans-serif;
    background-color: burlywood;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color:  #fff ;
    text-align: center;
    padding: 20px;
}
label{
    font-weight: bolder;
}
img{
    max-width: 200px;
    border-radius: 50%;
}
p{
    font-weight: bolder;
}
.container{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    max-width: 800px;
}
 a{
    color: aquamarine;
    font-weight: 700;
}